.registrarse,
.inicio-sesion {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #00bb38, #00641e); /* Fondo de degradado */
}

.register-form,
.login-form {
  background-color: #ffffff; 
  padding: 30px; 
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  max-width: 500px; 
  width: 100%; 
}

h2 {
  text-align: center; 
  color: #333; 
  font-family: 'Arial', sans-serif; 
}

button {
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transición suave */
  width: 100%; 
}

button:hover {
  background-color: #0056b3; 
}

.alert {
  margin-bottom: 1rem;
  font-weight: bold;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía más moderna */
}

.registro {
  margin-top: 15px;
  text-align: center; 
}

.registro a {
  color: blue;
  text-decoration: underline; 
}

/* Estilos para el formulario de buscar canchas */
.buscar-canchas {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 600px; /* Ancho máximo */
  margin: 20px auto; /* Centramos el formulario */
}

.buscar-canchas h3 {
  text-align: center; /* Titulo centrado */
  color: #333; /* Color del texto */
}

/* Estilos para los select */
select {
  width: 100%;
  padding: 10px; /* Relleno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
  margin-bottom: 10px; /* Espacio entre campos */
}

/* Estilos para el calendario */
input[type="date"] {
  width: 100%;
  padding: 10px; /* Relleno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 5px; /* Bordes redondeados */
}

/* Estilos para el aviso de no canchas disponibles */
.no-canchas {
  text-align: center;
  color: #ff0000; /* Color rojo para el mensaje */
  font-weight: bold;
  margin-top: 20px; /* Margen superior */
}